argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.0.1
Flask==2.0.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
idna==3.4
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
mailtrap==2.0.1
MarkupSafe==2.0.1
packaging==21.3
passlib==1.7.4
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.8
pytest==7.1.2
requests==2.29.0
soupsieve==2.4.1
SQLAlchemy==1.4.25
tomli==2.0.1
urllib3==1.26.15
Werkzeug==2.0.1
