/* common */

.container {
  max-width: 1000px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
}

.card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* inputs */

input {
  -webkit-appearance: none;
  margin: 1px;
}

input[type="number"] {
  width: 4em;
}

input[type="number"],
input[type="text"],
select,
textarea {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding-bottom: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="button"],
input[type="submit"] {
  padding: 5px 10px;
  background-color: peachpuff;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #f37b53; 
}

/* base.html */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant', serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 88px;
}

.flash-msg {
  background-color: #eccf77;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: solid;
  border-radius: 100px;
  outline: none;
}

form.search-form {
  display: flex;
  flex-direction: row;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.card-q {
  display: inline-block;
  border: 1px solid #f3b99a;
  margin: 15px;
}

#logging a {
  text-decoration: none;
  color: rgb(179, 6, 6);
}

.q-input {
  width: 100px;
}

.q-td {
  height: 38px;
}

.quick-container {
  box-shadow: 0px 1px rgba(85, 84, 84, 0.2);
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(148 5 5);
}


/* recipe list */

.recipe-box {
  border: none;
  margin: 10px;
  width: 200px;
  height: 270px;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.card-top {
  display: flex;
  height: 180px;
  align-items: center;
}

.card-img-top {
  border-radius: 10px;
}

.card-title {
  color: black;
}

#recipes {
  flex-wrap: wrap;
}

/* homepage.html */

.slider-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.slider-item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-item.active {
  opacity: 1;
}

/* Create account */

#register {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#register label {
  margin-bottom: 5px;
}

#register input[type="text"],
#register input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#register button[type="submit"] {
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  background-color: #f6ae6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#register button[type="submit"]:hover {
  background-color: #f07849;
}

.welcome-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* login */

.welcome-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#login {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#login label {
  margin-bottom: 5px;
}

#login input[type="text"],
#login input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login button[type="submit"] {
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  background-color: #f27180;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login button[type="submit"]:hover {
  background-color: #f07849;
}


/* heart */

.full_heart,
.empty_heart,
.hat {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


/* create-recipe */
.create-recipe-card {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.create-recipe-card input[type="button"],
.create-recipe-card input[type="submit"] {
  background-color: #f09099;
}

.create-recipe-card input[type="button"]:hover,
.create-recipe-card input[type="submit"]:hover {
  background-color: #f07849;
}

.remove-ingredient,
.remove-paragraph {
  background-color: transparent;
  border: none;
  color: #dc3545;
  font-size: 1.2rem;
  margin-left: 10px;
}

.remove-ingredient:hover,
.remove-paragraph:hover {
  color: #c82333;
}

.create-recipe-title {
  display: flex;
  justify-content: center;
}

.create-recipe-title-text {
  margin-bottom: 5px;
  font-weight: bold;
}

.ingredient input[type="text"] {
  min-width: 15em;
}

/* recipe */

.checkbox {
  vertical-align: top;
  padding-right: 10px;
}

.one-recipe {
  position: relative;
}

.icon-one {
  width: 50px;
  top: 0px;
  right: 0px;
}

.my-recipe-card {
  display: flex;
  flex-wrap: wrap;
}

.my-recipe-card .quantity_field {
  margin-right: 5px;
  min-width: 30px;
  text-align: right;
}

.my-recipe-card .unit_field {
  margin-right: 5px;
  min-width: 60px;
}

.column {
  float: left;
  padding: 0 15px;
}

.name_field {
  min-width: 200px;
}

#ingredients_table {
  border-spacing: 10px;
  border-collapse: separate;
}

.description-column {
  max-width: 400px;
}

/* user dashboard */

#own_recipes {
  flex-wrap: wrap;
}

.recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card-ud {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 350px;
  margin: 20px;
}

#link_web_scrapping {
  width: 160px;
  margin: 10px;
}

#link_button {
  background-color: #f07849;
  color: white;
}

.recipe-card-ud img {
  width: 100%;
}


/* footer */

footer {
  background-color: rgb(1, 0, 0);
  color: rgb(217, 213, 213);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: rgb(217, 213, 213);
}

.terms {
  padding: 20px
}

