/* BASE HTML */

.container {
  max-width: 1000px;
  margin: 10px auto;
  position: relative0 15px;
  padding: 10px;
}

.flash-msg {
  background-color: #eccf77;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}


.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: solid;
  border-radius: 100px;
  outline: none;
}

form.search-form {
  display: flex;
  flex-direction: row;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.card {
  flex-grow: 1;
  width: calc(33.33% - 20px);
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 5px;
  height: 100%;
  background-color: white;
  border: 1px solid #f3b99a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
}

input[type="number"],
input[type="text"],
textarea {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input[type="radio"],
input[type="number"],
select {
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: #f4cadc;
}

#logging a {
  text-decoration: none;
  /* Remove underline */
  font-family: "Arial", sans-serif;
  /* Set desired font family */
  /* font-size: 18px; */
  /* Increase the font size */
  color: rgb(179, 6, 6);
  /* Set the font color to dark red */
  padding: 0 10px;
  /* Add horizontal padding to create space around the text */
}

.q-input {
  width: 100px;
}

.q-td {
  height: 38px;
}

/* Create account */
#main-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

#register {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#register label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

#register input[type="text"],
#register input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#register button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f6ae6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.welcome-section {
  padding: 5px;
}

.welcome-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

/* HOMPAGE HTML */
.slider-item {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-item.active {
  opacity: 1;
}

.row.container {
  margin-top: 30px;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-xs-12,
.col-sm-6,
.col-md-6,
.col-lg-4 {
  padding: 15px;
  position: relative;
}

.full_hearth,
.empty_hearth {
  width: 25px;
  position: absolute;
  right: 12.5px;
}

.homepage-js {
  margin-top: 20px;
}

#quick {
  margin: 20px;
}

.card:last-child {
  margin-right: 0;
}

h1 {
  text-align: center;
}

#recipes .card {
  position: relative;
  width: 100%;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.login {
  min-height: 100vh;
  padding-top: 100px;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#login {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#login label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

#login input[type="text"],
#login input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f27180;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login button[type="submit"]:hover {
  background-color: #f07849;
}

.welcome-back {
  padding: 5px;

}

.welcome-back h2 {
  font-size: 2em;
  margin-bottom: 10px;
}


.recipe-card {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.recipe-card div {
  margin: 10px 0;
}

.recipe-card input[type="text"],
.recipe-card select,
.recipe-card textarea {
  border: 1px solid #dbbaba;
  border-radius: 3px;
  padding: 5px;
}

.recipe-card input[type="button"],
.recipe-card input[type="submit"] {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f09099;
  color: #140101;
  cursor: pointer;
}

.recipe-card input[type="button"]:hover,
.recipe-card input[type="submit"]:hover {
  background-color: #0069d9;
}

.recipe-card select {
  padding: 5px 30px 5px 5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000");
}

.my-recipe-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 80px;
}

.my-recipe-card h3 {
  margin-top: 0;
}

.my-recipe-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-recipe-card .ingredient_row {
  display: flex;
  margin-bottom: 10px;
}

.my-recipe-card .quantity_field {
  margin-right: 10px;
  min-width: 30px;
  text-align: right;
}

.my-recipe-card .unit_field {
  margin-right: 10px;
  min-width: 60px;
}

.my-recipe-card .name_field {
  flex-grow: 1;
}

.my-recipe-card select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  font-size: 14px;
  padding: 4px 20px 4px 8px;
  margin-right: 10px;
}

.my-recipe-card select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 2px rgba(102, 175, 233, 0.6);
  outline: none;
}

.my-recipe-card p {
  margin-top: 0;
}

.container-ojej {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  /* add this line to round corners */
}

.item-1,
.item-2 {
  margin-bottom: 10px;
}

.title {
  display: inline-block;
  width: 120px;
  font-weight: bold;

}

.content {
  display: inline-block;
}



input[type="button"]:hover {
  background-color: #f37b53;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(154, 1, 1);
}

.column {
  float: left;
  padding: 0 15px;
}

.column-1 {
  width: 33.33%;
}

.column-2 {
  width: 33.33%;
}

.column-3 {
  width: 33.33%;
}

h3 {
  color: rgba(110, 6, 126, 0.735);
  margin: 5px;

}

#prepare {
  color: rgba(77, 3, 104, 0.735);
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#own_recipes,
#favorite_recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-mf {
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: inherit;
  object-fit: cover;

}

.card-title {

  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}




.recipe-cards-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.recipe-card-ud {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px;
}

.recipe-card-ud a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.recipe-card-ud input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

.recipe-card-ud input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-card-ud input[type="button"]:hover {
  background-color: #45a049;
}

.recipe-card-ud img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.remove-ingredient {
  background-color: transparent;
  border: none;
  color: #dc3545;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
  outline: none;
}

.remove-ingredient:hover {
  color: #c82333;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: rgb(1, 0, 0);
  color: rgb(217, 213, 213);
  text-align: center;
}

.footer img {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.buttons-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type="button"] {
  padding: 10px 20px;
  background-color: peachpuff;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}