{% extends 'base.html' %}
{% block title %}Create recipe | Flying recipes {% endblock %}

{% block body %}
<div class="spacer" style="height: 60px;"></div>
<div class="create-recipe-card">
    <div class="create-recipe-title">
        <div class="create-recipe-title-text">Recipe title:</div>
        <div>
            <input type="text" id="title" value="{% if recipe %}{{ recipe.title }}{% endif %}">
        </div>
    </div>
    <div class="col-xs-6 col-sm-12 col-md-12">
        <div class="create-recipe-title-text">Ingredients:</div>
        <div id="ingredient_list">
            {% if not recipe %}
            <div class="ingredient">
                qty <input type="number" id="quantity" value="">
                unit <select id="unit">
                    {% for unit in all_units%}
                    <option value={{unit}}>{{unit}} </option>
                    {% endfor %}
                </select>
                name <input type="text" id="name" value="">
                <button class="remove-ingredient"><i class="fas fa-times"></i></button>
            </div>
            {% else %}
            {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
                qty <input type="number" id="quantity"
                    value='{% if ingredient.quantity %}{{ "%.1f"|format(ingredient.quantity) }}{% endif %}'>
                unit <select id="unit">
                    {% for unit in all_units %}
                    <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}</option>
                    {% endfor %}
                </select>
                name <input type="text" id="name" value="{{ ingredient.name }}">
                <button class="remove-ingredient"><i class="fas fa-times"></i></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div>
        <input type="button" id="add_ingredient" value="Add ingredient">
    </div>


    <div class="create-recipe-title-text">Description:</div>
    <div class="col-xs-6 col-sm-12 col-md-12" id="paragraph_list">
        {% if not recipe %}
        <div class="paragraph">
            <textarea rows="3" id="text"></textarea>
            <button class="remove-paragraph"><i class="fas fa-times"></i></button>
        </div>
        {% else %}
        {% for paragraph in recipe.paragraphs %}
        <div class="paragraph">
            <textarea rows="3" id="text">{{ paragraph.text }}</textarea>
            <button class="remove-paragraph"><i class="fas fa-times"></i></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div>
        <input type="button" id="add_paragraph" value="Add step">
    </div>



    <div>
        <form action="/uploader" method="POST" enctype="multipart/form-data" id="upload_form">
            <input type="file" name="file" id="file_input" />
            <input type="submit" id="create_recipe_submit" value="Save recipe" />
        </form>
    </div>
    <input type="hidden" id="recipe_id_hidden" value="{% if recipe %}{{ recipe.recipe_id }}{% endif %}">
    <script src="/static/js/create_recipe.js"></script>
</div>

{% endblock %}
