{% extends 'base.html' %}
{% block title %}Create account | Kitchen helper{% endblock %}

{% block body %}
<div class="spacer" style="height: 60px;"></div>
<div class="container" id="register">
    <form action="/register_user" method="post" accept-charset="UTF-8">
        <div>
            <label for="email">Email address <span title="This field is required.">*</span></label>
            <input title="" type="text" name="email" value="" size="60" maxlength="60">
        </div>
        <div>
            <label for="password">Password <span title="This field is required.">*</span></label>
            <input title="" type="password" name="password" size="60" maxlength="128">
        </div>
        <div>
            <button type="submit" value="login">Create account</button>
        </div>
    </form>
    <div class="welcome-section">
        <img src="static/img/createAccountM.png" alt="Cupcake">
    </div>
</div>
{% endblock %}