{% extends 'base.html' %}
{% block title %}Forgot password | Flying recipes{% endblock %}

{% block body %}

<div class="container" id="login">
    <form id="forgot-form" action="/send_email" method="post" accept-charset="UTF-8">
	<div>
            <label for="email">E-mail address</label>
            <input type="text" name="email">
	</div>
	<div>
            <button type="submit" value="reset">Reset password</button>
	</div>
    </form>
    <div class="welcome-back">
        <img src="static/img/babeczkaLogowania.png" alt="Cupcake">
    </div>
</div>
{% endblock %}
