{% extends 'base.html' %}
{% block title %}Kitchen Helper | Wherever you are!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <section class="col-sx-12 col-sm-12 col-md-9 ">
            <div>
                <section>
                    <img src="static/img/center.png">
                </section>
            </div>
            <div id="recipes" class="row">
                {% for recipe in recipes %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3">
                    <img class="full_hearth" id="hearth_full_{{recipe.recipe_id}}" width=25
                        src="static/img/hearth_full_100.png" {% if not recipe.recipe_id in my_favorite_recipe_ids %}
                        style="display:none" {% endif %}>
                    <img class="empty_hearth" id="hearth_empty_{{recipe.recipe_id}}" width=25
                        src="static/img/hearth_empty_100.png" {% if recipe.recipe_id in my_favorite_recipe_ids %}
                        style="display:none" {% endif %}>
                    <a href="/recipe/{{ recipe.recipe_id }}">
                        <div class="card text-center bg-light">
                            <img class="card-img-top img-circle" src="{{ recipe.image_url }}">

                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
<script src="/static/js/homepage.js"></script>
{% endblock %}