{% extends 'base.html' %}
{% block title %}Recipe | Flying recipes {% endblock %}

{% block body %}
<h1 class="recipe-title">{{ recipe.title }}</h1>

<div class="recipe-container" style="text-align: center; padding-top: 20px; padding-bottom: 5px;">
    <div class="one-recipe">
        <img src="{{ recipe.image_url }}" width="500px" class="img-responsive">
        {% if 'logged_in_user_id' in session %}
        <img class="hat icon-one" id="hat_{{recipe.recipe_id}}" width=25 src="/static/img/logo_100.png" {% if not
            (recipe.author_id==session['logged_in_user_id'] and not recipe.is_copy) %} style="display:none" {% endif %}>
        <img class="full_heart icon-one" id="heart_full_{{recipe.recipe_id}}" width=25
            src="/static/img/hearth_full_100.png" {% if not (recipe.is_copy and
            recipe.author_id==session['logged_in_user_id']) %} style="display:none" {% endif %}>
        <img class="empty_heart icon-one" id="heart_empty_{{recipe.recipe_id}}" width=25
            src="/static/img/hearth_empty_100.png" {% if not (not recipe.is_copy and recipe.author_id
            !=session['logged_in_user_id']) %} style="display:none" {% endif %}>
        {% endif %}
    </div>
</div>

<div class="buttons-recipe">
    <input type="button" id="scale_button" value="Scale">
    <input type="hidden" id="original_recipe_id_hidden" value="{{recipe.original_recipe_id}}">

    {% if "logged_in_user_id" in session and session["logged_in_user_id"] == recipe.author_id %}
    <input type="hidden" id="recipe_id_hidden" value="{{recipe.recipe_id}}">
    {% if not recipe.is_copy %}<input type="button" id="remove" value="Remove recipe">
    {% endif %}
    <a href="/edit_recipe/{{ recipe.recipe_id }}">
        <input type="button" id="edit_recipe" value="Edit recipe">
    </a>
    {% endif %}
</div>

<div class="container-ojej" id="scale_container" style="display: none">
    <div>
        <h2>By baking pan</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 column column-1 provision">

        <div class="item-1 clearfix">

            <span class="title">In recipe is:</span>
            <span class="content">
                <input type="radio" name="field-is" id="field-is-cake-tin" value="cake_tin" checked="checked">
                <label for="field-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-is" id="field-is-cake-stand" value="cake_stand"> <label
                    for="field-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="size" id="size" size="4" value="">
                <span class="size_cake_tin"> x <input type="number" min="0" name="size-y" id="size_y" size="4" value="">
                </span>


                <select name="measurement" id="measurement">
                    <option value="cm">cm</option>
                    <option value="inch">in</option>
                </select>
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 column column-2 home-has">
        <div class="item-1 clearfix">
            <span class="title">I have:</span>
            <span class="content">
                <input type="radio" name="field-home-is" id="field-home-is-cake-tin" value="cake_tin" checked="checked">
                <label for="field-home-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-home-is" id="field-home-is-cake-stand" value="cake_stand"> <label
                    for="field-home-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="home-size" id="home_size" size="4" value="">
                <span class="size_cake_home_tin"> x <input type="number" min="0" name="home-size-y" id="home_size_y"
                        size="4" value="">


                </span>
                <select name="measurement" id="home_measurement">
                    <option value="cm">cm</option>
                    <option value="inch">in</option>
                </select>
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 column column-3 button-results">
        <div id="results">
            <input type="button" id="calculation" value="Compute">
        </div>
    </div>
    <div>
        <div class="item-2 clearfix"></div>
        <h2> By number of portions</h2>
        <div id="results_by_person">
            <span class="title-from">From:</span>
            <span class="content">
                <input type="number" min="1" name="from_person" id="from_person" size="2" value="">
                to <input type="number" min="2" name="to_person" id="to_person" size="2" value=""> portions
            </span>
            <input type="button" id="calculation_by_person" value="Compute">
        </div>
    </div>
</div>


<div class="container my-recipe-card">

    <div class="my-recipe-column ingredients-column">
        <h3>Ingredients</h3>
        <table>
            <tbody>
                {% for ingredient in recipe.ingredients %}
                <tr class="ingredient_row">
                    <td>
                        <span class="quantity_field">{% if ingredient.quantity %}{{ "%.2f"|format(ingredient.quantity)
                            }}{%
                            endif %}</span>
                    </td>
                    <td>
                        <span class="unit_field">
                            {% if ingredient.unit in weight_units %}
                            <select name="unit">
                                {% for unit in weight_units %}
                                <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}
                                </option>
                                {% endfor %}
                            </select>
                            {% elif ingredient.unit in volume_units %}
                            <select name="unit">
                                {% for unit in volume_units %}
                                <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}
                                </option>
                                {% endfor %}
                            </select>
                            {% else %}
                            {{ingredient.unit}}
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <span class="name_field">{{ ingredient.name }}</span>
                    </td>
                    <input type="hidden" class="ingredient_id_field" value="{{ingredient.ingredient_id}}">
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-recipe-column description-column">
        <h3>Prepare</h3>
        <div>
            {% for paragraph in recipe.paragraphs %}
            <p>{{ paragraph.text }}</p>
            {% endfor %}
        </div>
    </div>

    <script src='/static/js/recipe.js'></script>
</div>

{% endblock %}