{% extends 'base.html' %}
{% block title %}Recipe | Wherever you are!{% endblock %}

{% block body %}
<div class="spacer" style="height: 70px;"></div>
<div style="text-align: center;">
    <h2 class="mt-3" style="font-size: 4em">{{ recipe.title }}</h2>

    <div class="row">
        <div>
            <img src="{{ recipe.image_url }}" width="500px" class="img-responsive">
        </div>
    </div>
</div>

<div>
    <input type="button" id="scale_button" value="Scale">
</div>
<div class="container-ojej" id="scale_container" style="display: none">
    <div>
        <h2>By baking pan</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 column column-1 provision">

        <div class="item-1 clearfix">

            <span class="title">In recipe is:</span>
            <span class="content">
                <input type="radio" name="field-is" id="field-is-cake-tin" value="cake_tin" checked="checked"> <label
                    for="field-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-is" id="field-is-cake-stand" value="cake_stand"> <label
                    for="field-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="size" id="size" size="4" value="">
                <span class="size_cake_tin"> x <input type="number" min="0" name="size-y" id="size_y" size="4"
                        value=""></span>

            </span>
            <select name="measurement" id="measurement">
                <option value="cm">cm</option>
                <option value="inch">in</option>
            </select>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 column column-2 home-has">
        <div class="item-1 clearfix">
            <span class="title">I have:</span>
            <span class="content">
                <input type="radio" name="field-home-is" id="field-home-is-cake-tin" value="cake_tin" checked="checked">
                <label for="field-home-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-home-is" id="field-home-is-cake-stand" value="cake_stand"> <label
                    for="field-home-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="home-size" id="home_size" size="4" value="">
                <span class="size_cake_home_tin"> x <input type="number" min="0" name="home-size-y" id="home_size_y"
                        size="4" value="">

                    </option>
                </span>
                <select name="measurement" id="home_measurement">
                    <option value="cm">cm</option>
                    <option value="inch">in</option>
                </select>
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 column column-3 button-results">
        <div id="results">
            <input type="button" id="calculation" value="Compute">
        </div>
    </div>
    <div>
        <div class="item-2 clearfix"></div>
        <h2> By person</h2>
        <span class="title">From:</span>
        <span class="content">
            <input type="number" min="1" name="from_person" id="from_person" size="2" value="">
            to <input type="number" min="2" name="to_person" id="to_person" size="2" value="">persons
        </span>
        <div id="results_by_person">
            <input type="button" id="calculation_by_person" value="Compute">
        </div>
    </div>


</div>
<div>
    <input type="hidden" id="recipe_id_hidden" value="{{recipe.recipe_id}}">
    <input type="button" id="remove" value="Remove recipe">
    <a href="/edit_recipe/{{ recipe.recipe_id }}">
        <input type="button" id="edit_recipe" value="Edit recipe">
    </a>
</div>

<div class="my-recipe-card">
    <h3><span>Ingredients</span></h3>
    <div>x portions</div>
    <div>
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li class="ingredient_row">
                <span class="quantity_field">
                    {% if ingredient.quantity %}{{ "%.1f"|format(ingredient.quantity) }}{% endif %}
                </span>
                <span class="unit_field">
                    {% if ingredient.unit in weight_units %}
                    <select name="unit">
                        {% for unit in weight_units %}
                        <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}</option>
                        {% endfor %}
                    </select>
                    {% elif ingredient.unit in volume_units %}
                    <select name="unit">
                        {% for unit in volume_units %}
                        <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    {{ingredient.unit}}
                    {% endif %}
                </span>
                <span class="name_field">{{ ingredient.name }}</span>
                <input type="hidden" class="ingredient_id_field" value="{{ingredient.ingredient_id}}">
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
        <h3>Prepare</h3>
        <div>
            <p>{{ recipe.description }}</p>
        </div>
    </div>

    <script src="/static/js/recipe.js"></script>
</div>

{% endblock %}