{% extends 'base.html' %}
{% block title %}Recipe | Wherever you are!{% endblock %}

{% block body %}
<h2 style="font-size: 4em">{{ recipe.title }}</h2>
    
<div class="recipe-container" style="text-align: center; padding-top: 20px; padding-bottom: 5px;">
    <div class="one-recipe">
        <img src="{{ recipe.image_url }}" width="500px" class="img-responsive">
        <img class="full_heart heart-one" id="heart_full_{{recipe.recipe_id}}" width=25 src="/static/img/hearth_full_100.png" {%
            if not recipe.recipe_id in my_favorite_recipe_ids %} style="display:none" {% endif %}>
        <img class="empty_heart heart-one" id="heart_empty_{{recipe.recipe_id}}" width=25 src="/static/img/hearth_empty_100.png"
            {% if recipe.recipe_id in my_favorite_recipe_ids %} style="display:none" {% endif %}>
    </div>
</div>

<div class="buttons-recipe">
    <input type="button" id="scale_button" value="Scale">

    {% if "logged_in_user_id" in session and session["logged_in_user_id"] == recipe.author_id %}
    <input type="hidden" id="recipe_id_hidden" value="{{recipe.recipe_id}}">
    <input type="button" id="remove" value="Remove recipe">
    <a href="/edit_recipe/{{ recipe.recipe_id }}">
        <input type="button" id="edit_recipe" value="Edit recipe">
    </a>
    {% endif %}
</div>

<div class="container-ojej" id="scale_container" style="display: none">
    <div>
        <h2>By baking pan</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 column column-1 provision">

        <div class="item-1 clearfix">

            <span class="title">In recipe is:</span>
            <span class="content">
                <input type="radio" name="field-is" id="field-is-cake-tin" value="cake_tin" checked="checked">
                <label for="field-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-is" id="field-is-cake-stand" value="cake_stand"> <label
                    for="field-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="size" id="size" size="4" value="">
                <span class="size_cake_tin"> x <input type="number" min="0" name="size-y" id="size_y" size="4" value="">
                </span>


                <select name="measurement" id="measurement">
                    <option value="cm">cm</option>
                    <option value="inch">in</option>
                </select>
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 column column-2 home-has">
        <div class="item-1 clearfix">
            <span class="title">I have:</span>
            <span class="content">
                <input type="radio" name="field-home-is" id="field-home-is-cake-tin" value="cake_tin" checked="checked">
                <label for="field-home-is-cake-tin">Rectangle</label>
                <input type="radio" name="field-home-is" id="field-home-is-cake-stand" value="cake_stand"> <label
                    for="field-home-is-cake-stand">Round</label>
            </span>
        </div>
        <div class="item-2 clearfix">
            <span class="title">Dimensions:</span>
            <span class="content">
                <input type="number" min="0" name="home-size" id="home_size" size="4" value="">
                <span class="size_cake_home_tin"> x <input type="number" min="0" name="home-size-y" id="home_size_y"
                        size="4" value="">


                </span>
                <select name="measurement" id="home_measurement">
                    <option value="cm">cm</option>
                    <option value="inch">in</option>
                </select>
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 column column-3 button-results">
        <div id="results">
            <input type="button" id="calculation" value="Compute">
        </div>
    </div>
    <div>
        <div class="item-2 clearfix"></div>
        <h2> By number of portions</h2>
        <span class="title-from">From:</span>
        <span class="content">
            <input type="number" min="1" name="from_person" id="from_person" size="2" value="">
            to <input type="number" min="2" name="to_person" id="to_person" size="2" value="">portions
        </span>
        <div id="results_by_person">
            <input type="button" id="calculation_by_person" value="Compute">
        </div>
    </div>
</div>


<div class="my-recipe-card">
    <h3><span>Ingredients</span></h3>

    <div>
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li class="ingredient_row">
                <span class="quantity_field">{% if ingredient.quantity %}{{ "%.2f"|format(ingredient.quantity) }}{%
                    endif %}</span>
                <span class="unit_field">
                    {% if ingredient.unit in weight_units %}
                    <select name="unit">
                        {% for unit in weight_units %}
                        <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}</option>
                        {% endfor %}
                    </select>
                    {% elif ingredient.unit in volume_units %}
                    <select name="unit">
                        {% for unit in volume_units %}
                        <option value="{{unit}}" {% if unit==ingredient.unit %} selected {% endif %}>{{unit}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    {{ingredient.unit}}
                    {% endif %}
                </span>
                <span class="name_field">{{ ingredient.name }}</span>
                <input type="hidden" class="ingredient_id_field" value="{{ingredient.ingredient_id}}">
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="description-recipe">
        <h3 id="prepare"><span>Prepare</span></h3>
        <div>
            <p>{{ recipe.description }}</p>
        </div>
    </div>

    <script src='/static/js/recipe.js'></script>
</div>

{% endblock %}