{% extends 'base.html' %}
{% block title %}My account | Kitchen helper{% endblock %}

{% block body %}



<div class="container">
  <section>
    <img src="static/img/center.png">
  </section>
</div>
<div class="recipe-cards-container">
  <div class="recipe-card-ud">
    <a href="/create_recipe">Create your best recipe!<img src="static/img/new-recipe.jpeg" alt="create-recipe"></a>
  </div>
  <div class="recipe-card-ud">
    <img src="static/img/search-recipe.jpeg" alt="Create Recipe">
    Copy link to favorite recipe from foodnetwork.com
    <input text="text" id="link_web_scrapping" value="">
    <input type="button" id='link_button' value="Get recipe">
  </div>
</div>
<div class="spacer" style="height: 50px;"></div>
<div class="row">
  <section class="col-sx-12 col-sm-12 col-md-12">
    <div id="own_recipes" class="row d-flex justify-content-center">
      <h1>My recipes:</h1>
      {% for recipe in own_recipes %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3">
        <a href="/recipe/{{ recipe.recipe_id }}">
          <div>
            <img class="card-img-top img-circle" src="{{ recipe.image_url }}">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
<div class="row">
  <section class="col-sx-12 col-sm-12 col-md-12">
    <div id="favorite_recipes" class="row d-flex justify-content-center">
      <h1>My favorite recipes:</h1>
      {% for recipe in favorite_recipes %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3">
        <img class="full_hearth" id="hearth_full_{{recipe.recipe_id}}" width=25 src="static/img/hearth_full_100.png" {%
          if not recipe.recipe_id in my_favorite_recipe_ids %} style="display:none" {% endif %}>
        <a href="/recipe/{{ recipe.recipe_id }}">
          <img class="card-img-top img-circle" src="{{ recipe.image_url }}">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <div class=" bg-light"></div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
<script src="/static/js/user_dashboard.js"></script>
{% endblock %}